In [1]:
##spaces between variable names are not allowed
course name="Data Science"
course name

SyntaxError: ignored

In [2]:
##the correct code for the above error is
coursename="Data Science"
coursename

'Data Science'

In [3]:
##"-" between variables are not allowed
course-name="Data Science"
course-name

SyntaxError: ignored

In [4]:
##the correct code for the above error is
##underscores are allowed
course_name="Data Science"
course_name

'Data Science'

In [5]:
###A variable name cannot start with a number or a special character except underscore
2coursename="Data Science and excel"
2coursename

SyntaxError: ignored

In [10]:
##the correct code for the above error is as follows
course_name2="Data Science and excel"
print(course_name2)
_coursename="ds"
_coursename
##a varable can have digits and special characters as a part of it

Data Science and excel

'ds'

In [7]:
###Python is case sensetive
Coursenames="Data Science"
coursenames

NameError: ignored

In [8]:
###the correct code for the above error is
Coursenames="Data Science"
Coursenames

'Data Science'

In [11]:
###variable name does not have a lenght criteria
aaaaaabbbbaaaabbbaaa="hello"
aaaaaabbbbaaaabbbaaa

'hello'

In [12]:
###a variable name cannot be a keyword
True="keyword"
True

SyntaxError: ignored

In [13]:
##the correct code for the above error is
true="not a keyword"
true

'not a keyword'

In [14]:
###some correct variable names are as follows
myVariable=1
myVariable

1

In [15]:
_package_name="numpy "
_package_name

'numpy '

In [16]:
package_name_2="Pandas"
package_name_2

'Pandas'

In [17]:
True_name="John"
True_name

'John'

In [18]:
MyCountry="India"
MyCountry

'India'